In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
All_countries=pd.read_csv("All_countries.csv")
usa=pd.read_csv("united_State.csv")

In [10]:
All_countries.head()

,Country or Area,Year,Area,Sex,Age,Marital status,Record Type,Reliability,Source Year,Value,Value Footnotes
0,Albania,2011,Total,Both Sexes,15 - 19,Total,Census - de jure - complete tabulation,"Final figure, complete",2014,15854.0,NaN
1,Albania,2011,Total,Both Sexes,15 - 19,Single (never married),Census - de jure - complete tabulation,"Final figure, complete",2014,14345.0,NaN
2,Albania,2011,Total,Both Sexes,15 - 19,Married,Census - de jure - complete tabulation,"Final figure, complete",2014,1486.0,NaN
3,Albania,2011,Total,Both Sexes,15 - 19,Widowed and not remarried,Census - de jure - complete tabulation,"Final figure, complete",2014,11.0,NaN
4,Albania,2011,Total,Both Sexes,15 - 19,Divorced and not remarried,Census - de jure - complete tabulation,"Final figure, complete",2014,10.0,NaN

In [8]:
# let us take a look at Value in different countries
All_countries['Country or Area'].value_counts()

Canada                  1062
Japan                   1008
China, Hong Kong SAR     984
Bermuda                  924
New Zealand              882
                        ...
Botswana                  24
Belarus                   21
Puerto Rico               18
Bahrain                   15
Saudi Arabia               5
Name: Country or Area, Length: 88, dtype: int64